#inforhead{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 200px;
    background-image: url(../img/headbackpicture.jpg);
}
.common{
    float: left;
    position: relative;
}
#inforone{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: auto;
}
#myinfor{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 600px;
    background-color: #e2f8ff;
}
.myinfor-box{
    width: 800px;
    height: 30px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}
#description{
    width: 800px;
    height: auto;
    margin-bottom: 20px;
    float: left;
    position: relative;
}
#myshoppingcar{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 1300px;
    background-color: #e2f8ff;
}
.shoppingbookboximg{
    width: 140px;
    height: 160px;
    margin: 20px 5px;
}
.shoppingbookinforbox{
    width: 105px;
    height: 50px;
    margin: 75px 10px;
    position: relative;
}